@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');


:root {
    --bg-banner: url("../images/background banner.png");
    --primary-color: #093931;
    --second-color: #F2C66D;
    --title-color: #F5D38E;
    --padding-left: 8.25rem;
    --font-body: 'Manrope', sans-serif;
    --font-title: 'Cormorant Garamond', serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: var(--bg-banner);
    background-color: var(--primary-color);
    /* padding: 0 var(--padding-left); */
    padding-bottom: 8.69rem;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 0.5rem var(--padding-left);
    align-items: center;
    /* padding: 0.5rem 0; */
}

.header__links {
    list-style: none;
    display: flex;
    /* gap: 2.52rem; */
}

.header__links li {
    padding: 0.65625rem 1.35188rem;
}

.header__links a {
    font-family: var(--font-body);
    color: #FFF;
    text-decoration: none;
    font-size: 0.875rem;
}

.header__links .active a {
    color: var(--second-color);
}

.header__links .active {
    border-bottom: 4px solid var(--second-color);
    border-radius: 0.13rem;
    /* box-shadow: 2px 11px 0px -6px rgba(242, 198, 109, 1); */
}

.header__banner {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap-reverse; */
    gap: 4.5rem;
    padding: 0 var(--padding-left);
    padding-top: 4.81rem;
}

.header__banner section {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__banner section h1 {
    color: var(--title-color);
    font-family: var(--font-title);
    font-size: 4.5rem;
}

.header__banner section button {
    border-radius: 1.625rem;
    border: 1px solid #FFF;
    color: #FFF;
    padding: 0.75rem 3.6875rem;
    background-color: transparent;
    font-family: var(--font-body);
    font-size: 1.125rem;
    margin-top: 1.5rem;
    align-self: flex-start;
    /* background: rgba(0, 0, 0, 0.00) */
}

.header__play {
    position: relative;
    width: 15.0625rem;
    height: 20.0625rem;
    position: absolute;
    top: 25%;
    right: -25%;
}

.modalCart {    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #05050549;
    /* visibility: hidden; */
}

.hidden {
    display: none;
}

.show {
    display: flex;
    justify-content: flex-end;
}

.modalCart section{
    width: 50%;
    height: 100%;
    background-color: white;
}

.header__video {
    width: 100%;
    object-fit: cover;
}

.header__playbutton {
    position: absolute;
    top: 40%;
    left: 40%;

}

.header__images {
    position: relative;

}

#btnCart{
    cursor: pointer;
}

#btn-mobile {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* width: 50px;
    height: 50px; */

}

#btn-mobile .material-symbols-outlined {
    color: #FFF;
    font-size: 40px;
    font-weight: 300;
    /* width: 100%;
    height: 100%; */
}

@media screen and (max-width: 997px) {

    :root {
        --padding-left: 4.2rem;
    }

    .header__banner {
        flex-direction: column-reverse;
        padding-top: 2rem;
        gap: 2rem;
    }

    .header__banner section h1 {
        text-align: center;
    }
    .header__banner section{
        width: 100%;
    }

    .header__banner section button{
        align-self: auto;
    }

    /* .header__nav, .header__banner{
        padding-left: ;

    } */
}

@media screen and (max-width: 880px) {
    .header__links {
        display: none;
    }

    #btn-mobile {
        display: block;
    }
}

@media screen and (max-width: 627px) {

    :root {
        --padding-left: 2rem;
    }
    html{
        font-size: 12px;
    }
    .header__images{
        /* align-self: flex-start; */
        width: 70%;
    }
    .header__images .header__image{
        width: 100%;
        height: auto;
    }

    /* .header__play{
        right: -10px;
    } */
}
